body {
    background-color: #222222;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 180px;
}

#logo {
    width: 120px;
    height: 120px;
    float: left;
    background-image: url("../images/logo_09.png");
    background-repeat: no-repeat;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

header {
    background-color: whitesmoke;
    width: 100%;
    /*margin: 10px;*/
    padding: 20px;
    position: fixed;
    top: 0;
}

header nav {
    margin-top: 40px;
    float: right;
    margin-right: 40px;
}

header nav ul {
    width: auto;
    margin: 0;
    padding: 0;
}

header nav ul li {
    border: 1px solid #ffffff;
    margin-right: 20px;
    float: left;
    padding: 10px;
    background-color: red;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: grey;
}

main {
    width: 68%;
    float: left;
    min-height: 80vh;
    margin: 1%;
}

main article {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    background-color: aliceblue;
    margin: 1%;
    color: black;
}

aside {
    width: 28%;
    float: right;
    margin: 1%;
}

aside article {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    margin: 1%;
    background-color: aliceblue;
    color: black;
}

footer {

    margin-top: 20px;
    line-height: 80px;
    height: 75px;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
}